.App {
  text-align: center;
  overflow-y: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggle{
  background-color: #1E4C91;
  height: 45px;
  width: 100px;
  border-radius: 45px;
  margin-top: 45px;
  display: flex;
}

.toggle-left{
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 25px;
  margin: 7px;
}
.toggle-right{
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 25px;
  margin: 7px 7px 7px 60px;
}
